<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div id="sunburst"></div>
        </div>
        <div class="col-md-4">

            <div class="row" id="normalWindow">
                <div class="row">
                    <div class="col-md-12" id="info_title"></div>
                </div>
                <div class="row">
                    <div class="col-md-8" id="info_content">
                        Use the chart to browse through the wines.
                    </div>
                </div>
            </div>

            <div class="row" id="singleWine">
                <div class="row" id="image">
                    <div class="col-md-12 content"></div>
                </div>
                <div class="row" id="name">
                    <div class="col-md-4 bold">Name</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="price">
                    <div class="col-md-4 bold">Price</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="abv">
                    <div class="col-md-4 bold">ABV</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="vintage">
                    <div class="col-md-4 bold">Vintage</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="eyes">
                    <div class="col-md-4 bold">Eyes</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="mouth">
                    <div class="col-md-4 bold">Mouth</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="nose">
                    <div class="col-md-4 bold">Nose</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="overall">
                    <div class="col-md-4 bold">Overall</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="producer">
                    <div class="col-md-4 bold">Producer</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="region">
                    <div class="col-md-4 bold">Region</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="sub-region">
                    <div class="col-md-4 bold">Sub Region</div>
                    <div class="col-md-8 content"></div>
                </div>
                <div class="row" id="description">
                    <div class="col-md-4 bold">Description</div>
                    <div class="col-md-8 content"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{% static "sunburst.js" %}"></script>
</body>
</html>