/*body {*/
/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*overflow-x: hidden;*/
/*}*/

path {
    stroke: #fff;
    fill-rule: evenodd;
}

.bold {
    font-weight: bold;
}

#info_content {
    text-align: center;
}

/* Single Wine */
#singleWine {
    display: none;
}

#singleWine .row {
    display: none;
}

.wineImage {
    height: auto;
    max-height: 300px;
    width: auto;
    margin: 0 auto;
    display: block;
}

/* Modal Full Screen */
.modal-fs-dialog {
    width: 98% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 auto !important;
    position: relative;
    display: block;

}

.modal-fs-content {
    height: 100% !important;
    overflow-y: scroll !important;
    border-radius: 0 !important;
}