body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

path {
    stroke: #fff;
    fill-rule: evenodd;
}

.bold {
    font-weight: bold;
}

#info_content {
    text-align: center;
}

/* Single Wine */
#singleWine {
    display: none;
}

#singleWine .row {
    display: none;
}